/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box;  
}

html, body {
  margin: 0;
  height: 100%;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  color: #484848;
}

header {
  background-color:orange;
}

section:first-of-type {
  background-color:white;
}
h1:first-of-type {
  display: flex;
  justify-content: center;

}

img:first-of-type {
  display: block;
  width:100%;
  height:auto;
  justify-content: center;
}

/*************** Button ****************/

section:first-of-type {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@keyframes bounce-animation {
  0% {
    transform: scale(1);
    background-color: #e60012;
  }
  70% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1.02);
    background-color: #c51621;
  }
}

section:first-of-type button:hover {
  animation-name: bounce-animation;
  animation-timing-function: ease-out;
  animation-duration: .4s;
  transition-delay: .4s;
  transform: scale(1.02);
  background-color: #c51621;
}

section:first-of-type>button>img {
  width: 1em;
  height: 1.5em;
  transform: scaleX(-1);
  position: absolute;
  top:1.5em;
  right:1.5em;
}

button:first-of-type {
  background-color: #e60012;
  border:none;
  border-radius: .5em;
  color:white;
  padding-left:1.5em;
  padding-right:1.5em;
  cursor: pointer;
  width:90%;
  display: flex;
  margin-bottom: 2em;
}

div {
  background-color: lightgrey;
  height:1px;
  width: 90%;
  margin-top: 3em;
  margin-bottom: 5em;
}




section:nth-of-type(2) {
  background-color:blue;
}

section:nth-of-type(3) {
  background-color:white;
  color:white;

}

@keyframes bounce-animation2 {
  0% {
    transform: scale(1);
    opacity: 50%;
  }
  70% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1.02);
    opacity:65%; 
  }
}

section:nth-of-type(3) {
  display:flex;
  flex-direction: column;
  align-items: center;
}

section:nth-of-type(3)>button {
  background-color: black;
  opacity:50%;
  border:2px;
  border-style: solid;
  border-color: black;
  width: 40%;
  z-index: 1;
  position: absolute;
}

section:nth-of-type(3)>img {
  position: absolute;
  z-index: 4;
}

section:nth-of-type(3)>button>img {
  width: 1em;
  height: 1.5em;
  transform: scaleX(-1);
  position: absolute;
  top:1.5em;
  right:1.5em;
}

section:nth-of-type(3)>div {
  background-image: url(https://assets.nintendo.com/image/upload/f_auto,q_auto/ncom/en_US/merchandising/color?v=2021092119);
  height:500px;
  font-weight: 95%;
  z-index: 1;
}

section:nth-of-type(3) button:hover {
  animation-name: bounce-animation2;
  animation-timing-function: ease-out;
  animation-duration: .4s;
  transition-delay: .4s;
  transform: scale(1.02);
  opacity: 65%;
}

section:nth-of-type(4) {
  background-color: aquamarine;
}

footer {
  background-color: chartreuse;
}